@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1b4965;
  --primaryOpacity: #1b496573;
  --primaryDark: #003049;
  --bodyTextColor: #122f40e5;
  --bodyTextOpacityColor: #122f4099;
  --navTextColor: #f9f9f9;
  --accentColor: #138cd3;
  --accentLightColor: #138cd399;
  --borderColor: #1b49650f;
  --backgroundColor: #f9f9f980;
  --footerIconBackground: #f9f9f91a;
  --white: #fff;
}
